
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", serif;
}


.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


h1{
    font-weight: 400;
    font-size: 36px;
    line-height: normal;
}

h2{
    font-weight: 400;
    font-size: 36px;
    line-height: normal;
}

h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

a{
    color: #000;
    text-decoration: none;
}

.logo, a, p, .number{
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

p{
    line-height: 130%;

}

header, .first-screen{
    background-color: #F8F8F8;
}

header{
    padding-top: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.cta-nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

button{
    width: 150px;
    background-color: #2B47E1;
    color: #FFFFFF;
    padding: 10.5px 0px;
    border: none;
    border-radius: 7px;
}

.first-screen .container{
    padding-top: 80px;
    padding-bottom: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.first-screen img{
    width: 630px;
    height: 386px;

}

.info{
    margin-top: auto;
    margin-bottom: auto;
}

.info h1{
    margin-bottom: 40px;
}

.services .container{
    margin-top: 120px;
    margin-bottom: 80px;
}

.services-grid{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.service{
    width: 305px;
    padding-bottom: 40px;
}

.icon img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

 